body {
  font-family: sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-x: hidden;
}

.reset-btn {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  background: #ff5050;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
}

input {
  width: 95%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  font-size: 18px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.add-btn {
  background: #0077ff;
}

.start-btn {
  background: #ff8c00;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#sentenceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.card {
  position: relative;
  background: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  height: 80px;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s, background 0.3s, color 0.3s;
  color: black;
}

.card.revealed {
  border-color: #10b152;
  background: #e7ffe9;
}

.remove-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(255, 60, 60, 0.9);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  transition: 0.15s ease-in-out;
}

.remove-btn:hover {
  background: red;
  transform: scale(1.08);
}

.timer-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
